body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
  }
  
  .logo {
    font-size: 24px;
    color: #007bff;
  }
  .Gemlogo{
    font-size: 24px;
    color: #18c7f7;
  }
  
  button {
    padding: 15px 15px;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    margin-top: 10px;
    margin: auto;
    /* max-width: 50%; */
  }
  
  button:focus {
    outline: none;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(215, 164, 205);
    /* background-color: rgba(223, 190, 215, 0.8); */
    color: white;
    padding: 15px 20px;
    
    /* margin-bottom: 100px; */
  }
  
  .content {
    padding: 20px;
    max-width: 60%;
    margin: auto;
    min-height: 800px;
    background-color: rgb(215, 164, 205);
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  .content_Con{
    padding: 20px;
    max-width: 45%;
    margin: auto;
    min-height: 400px;
    background-color: rgb(150, 156, 158);
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  .content_con2{
    padding: 20px;
    max-width: 27%;
    margin: auto;
    margin-top:170px;
    min-height: 800px;
    background-color: rgb(217, 167, 207);
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(141, 4, 4, 0.1);
  }
  .content_con3{
    
    padding: 20px;
    min-width: 500px;
    margin: auto;
    /* margin-top:170px; */
    min-height: 800px;
    /* background-color: rgb(217, 167, 207); */
    /* border-radius: 20px; */
    box-shadow: 0 2px 100px rgba(208, 12, 117, 0.1);
  }
  .content_batch_update{
    
    padding: 20px;
    max-width: 500px;
    margin: auto;
    /* margin-top:170px; */
    min-height: 800px;
    /* background-color: rgb(217, 167, 207); */
    /* border-radius: 20px; */
    box-shadow: 0 2px 100px rgba(208, 12, 117, 0.1);
  }
  .content_Image{
    
    padding: 20px;
    min-width: 700px;
    margin: auto;
    min-height: 800px;
    border-radius: 20px;
    box-shadow: 0 2px 100px rgba(208, 12, 117, 0.1);
  }
  .content_DataDisplay{
    padding: 20px;
    min-width: 700px;
    margin: auto;
    min-height: 500px;
    border-radius: 20px;
    box-shadow: 0 2px 100px rgba(208, 12, 117, 0.1);
  }
  .content_EditID{
    padding: 20px;
    min-width: 700px;
    margin: auto;
    min-height: 500px;
    border-radius: 20px;
    box-shadow: 0 2px 100px rgba(208, 12, 117, 0.1);
  }
  .content_Certificate{
    padding: 20px;
    min-width: 700px;
    margin: auto;
    min-height: 500px;
    border-radius: 20px;
    box-shadow: 0 2px 100px rgba(208, 12, 117, 0.1);
  }
  .content_BatchQueue{
    padding: 20px;
    min-width: 700px;
    margin: auto;
    min-height: 500px;
    border-radius: 20px;
    box-shadow: 0 2px 100px rgba(208, 12, 117, 0.1);
  }
  .divider {
    text-align: center;
    margin: 20px 0;
    position: relative;
    margin-bottom: 20px;
  }
  
  .divider:before,
  .divider:after {
    content: "";
    background: #d5138e;
    display: block;
    height: 1px;
    position: absolute;
    width: 40%;
    top: 50%;
  }
  
  .divider:before {
    left: 0;
  }
  
  .divider:after {
    right: 0;
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 4px;
    border: 1px solid #ddd;
    box-sizing: border-box;
  }
  
  input:focus {
    outline: none;
    border-color: #007bff;
  }
  